.nav ul {
	text-align:center;
	margin: 3px;
	padding: 0;
}

.nav li {
	display: inline;
	margin: 3px;
}

.nav a {
	size: 16px;
	font-weight:bold;
}

form input {
	margin-bottom: 5px;
}

main, header {
	width:80%;
	margin-right: auto;
	margin-left: auto;
}

header {
	text-align: center;
}

section table {
	width:100%;
	text-align:center;
}